Data Types
Python has various built-in data types that allow us to store different kinds of values. Here’s a brief overview of the main data types:

int (Integer): Represents whole numbers, both positive and negative, without any decimal points. Example: x = 5, y = -42

float (Floating Point Number): Represents real numbers (numbers with a decimal point). Example: x = 3.14, y = -0.001

str (String): Represents a sequence of characters enclosed in single, double, or triple quotes. Example: name = "Alice", greeting = 'Hello World'

bool (Boolean): Represents one of two values: True or False. Often used in conditional statements. Example: is_active = True, is_valid = False

In [1]:
#string example
name = "alice"
print(name)

name = str(input("enter your name: "))
print(name)

alice
ronin

## list: A collection of ordered, mutable items (can store different data types). 
##Lists are defined using square brackets []. Example: fruits = ["apple", "banana", "cherry"]

In [9]:
#list example
fruits = ['ronin', 12]
print(fruits)

#lists are mutable
fruits[1]='bbanana'
print(fruits)

['ronin', 12]
['ronin', 'bbanana']

## tuple
tuple: A collection of ordered, immutable items (cannot be changed after creation). Tuples are defined using parentheses (). Example: coordinates = (10, 20), colors = ("red", "green", "blue")

In [10]:
#exmaple of tuple , declaredd by round braces
veggies = ('ronin', 12, "tomato")
print(veggies)

#tuple is immutable, when you try to change, the interperter wil throw type error\
veggies[1] = "mishti"

('ronin', 12, 'tomato')

TypeError: 'tuple' object does not support item assignment

## SET 

set: A collection of unordered, unique items. 
Sets are mutable and defined using curly braces {}. 
Example: unique_numbers = {1, 2, 3, 4}, letters = {'a', 'b', 'c'}

In [11]:
A = {1,2,3,4}
print(A[2])

TypeError: 'set' object is not subscriptable

In [ ]:
#if we eant to access a set with their index we nneed to convert them into list
A_list = list(A)
print(A_list[2])

In [ ]:
students = {"vijay":1,"Bobby":2, "Chetan":3}
print(students["vijay"])

In [ ]:
example = {1:2, 2:3, 4:5}
print(example[1])

In [ ]:
x,y,z = (input("enter the triplets")).split()
print(x,yz)

In [38]:
a = input("enter the value")
print(a)

enter the value ronin

ronin

In [42]:
x,y = map(int, input('enter the two numbers').split(','))
print(x,y)

enter the two numbers 1,2

1 2

In [57]:
print("squares of numbers")
for i in range(10):
    print(i,"->", i*i, end=", ")

squares of numbers
0 -> 0, 1 -> 1, 2 -> 4, 3 -> 9, 4 -> 16, 5 -> 25, 6 -> 36, 7 -> 49, 8 -> 64, 9 -> 81,

In [51]:
x = 0
while x <10:
    print(x, end=" ")
    x+=1

0 1 2 3 4 5 6 7 8 9

In [64]:
def human(name="ronin", age=12):
    print(f"{name} is {age} years old")

In [62]:
human("ronin", 45)

ronin is 45 years old

In [65]:
human()

ronin is 12 years old

In [6]:
x=0
y=1
points= []
points.append((x,y,"ronin", 12))
print(points)

[(0, 1, 'ronin', 12)]

In [2]:
def add_item(item,box=[]):
    box.append(item)
    return box
print(add_item('a'))
print(add_item('b'))

#while defining the funtiioon i added default argument "box", so the definitio n of box persists over all calls
#the default argument is called only ONCE
#so if i have to print 'a' and 'b' separately then I'll use the follwoing code

['a']
['a', 'b']

In [8]:
def add_item(item, box=None):
    if box is None : box = []
    box.append(item)
    return box

print(add_item('a'))
print(add_item('b'))

['a']
['b']

In [12]:
def add_item(item):
    box = []
    box.append(item)
    return box

print(add_item('a'))
print(add_item('b'))

['a']
['b']

In [24]:
word = "this is a test string"
# word = 'a' + word[1:]
# print(word)
print(word[1:5:2])

hs

In [1]:
# x = 10
# def change_x():
#     x = x + 5
#     print(x)

# change_x()

#above snippet of code tries to access a variable which ic not in the socpe oif the funtion 
# that's why we get UNBOUNDLOCAL ERROR 
# solution is : where ever i ned to acces the variabvle x i willl use the keywpord global 

x = 10
def change_x():
    global x
    x = x + 5
    print(x)

change_x()

y=12
def mutate(x):
    global y
    y = x+y
    print(y)
mutate(x)

15
27

## What Is Type Conversion?

Type conversion means changing the data type of a variable or value into another type — for example, converting a string into an integer or a float into a string.

There are two kinds of type conversion in Python:

Implicit Type Conversion (done automatically by Python)

Explicit Type Conversion (done manually by the programmer)

### 1️⃣ Implicit Type Conversion (Automatic) "Type Coercion"



In this type, Python automatically converts one data type to another when it makes sense, without you asking it to.

In [15]:
x = 10        # int
y = 2.5       # float

z = x + y     # Python converts x (int) → float automatically
print(z)      # 12.5
print(type(z))  # <class 'float'>
# Why this happens:
#Python promotes the integer to a float automatically so that precision is not lost in arithmetic operations.

12.5
<class 'float'>

In [18]:
#example 2:
a = True
b = 5
print(a + b)  # Output: 6

#here True is implicilty convertted to 1 (since in python : Treue == 1 and False ==0)

6

# 2️⃣ Explicit Type Conversion (Manual) - Type Casting

 In this type, you manually convert the data type using built-in functions such as:

int()

float()

str()

list()

tuple()

set()

dict(), etc.

In [21]:
#example 1 
a = "10"
num_int  = int(a)
print(num_int+10)

20

In [22]:
#example 2 : 
a = "hello"
b = int(a)   # ❌ ValueError

ValueError: invalid literal for int() with base 10: 'hello'

In [12]:
#converting python objects into json strings using dumps method 

import json 
python_data = {'name': 'ROnin', 'age':21}
json_data = json.dumps(python_data)
print(python_data)
print(json_data)

#printing the json striung using indent - i.e called pretty-printing
json_data2 = json.dumps(python_data, indent =4 )
print(json_data2)


#printing the json string with indent and sorted in alhbetical order 
json_data3 = json.dumps(python_data, indent=4, sort_keys = True)
print(json_data3)

{'name': 'ROnin', 'age': 21}
{"name": "ROnin", "age": 21}
{
    "name": "ROnin",
    "age": 21
}
{
    "age": 21,
    "name": "ROnin"
}

In [13]:
print(type(python_data))
print(type(json_data))
type(json_data3)

<class 'dict'>
<class 'str'>

str